h1 {
    background-color: green;
    background-size: contain;
}
h2 + p {
    text-decoration: underline;
    text-decoration-color: blueviolet;
}
#final {
    border: 1px solid red;
    padding: 5px;
}

body {
    position: relative;
}
img {
    width: 25%;
    position: absolute;
    left: 40%;
    top: 40%;
}
