h1 {
    background-color: green;
    background-size: contain;
    width: max-content;
}
div :nth-child(1) {
    text-decoration: underline;
    text-decoration-color: blueviolet;
}
div :last-child {
    border: 1px solid red;
    padding: 5px;
}

body {
    position: relative;
}
img {
    width: 25%;
    position: absolute;
    left: 40%;
    top: 40%;
}
